.color-background {
    background-color: rgb(var(--v-theme-background));
    color: rgb(var(--v-theme-on-background));
}

.color-surface {
    background-color: rgb(var(--v-theme-surface));
    color: rgb(var(--v-theme-on-surface));
}

.color-primary {
    background-color: rgb(var(--v-theme-primary));
    color: rgb(var(--v-theme-on-primary));
}

.color-secondary {
    background-color: rgb(var(--v-theme-secondary));
    color: rgb(var(--v-theme-on-secondary));
}

.color-error {
    background-color: rgb(var(--v-theme-error));
    color: rgb(var(--v-theme-on-error));
}

.color-warning {
    background-color: rgb(var(--v-theme-warning));
    color: rgb(var(--v-theme-on-warning));
}

.color-info {
    background-color: rgb(var(--v-theme-info));
    color: rgb(var(--v-theme-on-info));
}

.color-success {
    background-color: rgb(var(--v-theme-success));
    color: rgb(var(--v-theme-on-success));
}